@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51; /* Dark gray */
  --background-start-rgb: 255, 236, 209; /* Light peach */
  --background-end-rgb: 255, 255, 255; /* White */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White */
    --background-start-rgb: 34, 34, 34; /* Dark gray */
    --background-end-rgb: 17, 17, 17; /* Darker gray */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  display: flex;
  justify-content: center; /* aligns content horizontally */
  align-items: center; /* aligns content vertically */
  min-height: 100vh; /* ensures body takes up the full height of the viewport */
  font-family: 'Arial', sans-serif; /* Use a cozy and legible font */
  padding: 20px; /* Add some padding for a cozy feel */
}

/* Warm and cozy text color */
.text-warm {
  color: #8a4b2b; /* Brownish color */
}

/* Cozy shadow for elements */
.shadow-cozy {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

/* Cozy border radius */
.rounded-cozy {
  border-radius: 8px; /* Rounded corners */
}
